
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,900;1,400;1,600;1,700&display=swap');
/* base = #F4A261 */
/* base ligth = #FABB87 */
/* base dark = #BF5D0D */
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    font-weight: 600;
    font-size: 1.8rem;
}


/* SIGN UP / SIGN IN */
.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

/* nav signIn/signUp */
.nav-sign{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4A261;
    height: 50px;
}
.fixed-nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.nav-sign h1{
    margin-left: 20px;
}
.logo-sign{
    width: 35px;
    margin: 0 15px;
    border-radius: 50%;
}
/* body */
.part1-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part2-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part3-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part4-sign{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mockup{
  width: 70%;
}
/* image sign*/
.img-sign{
    margin-top: 70px;
    width: 190px;
    border-radius: 50%;
}
/* title sign */
.title-sign{
    font-size: 3.5rem;
    font-weight: 500;
}
#signIn{
    display: none;
}
.button-signIn{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    border: none;
    background-color: #F4A261;
    cursor: pointer;
    margin: 40px 0;
    color: white;
}
.sing{
    text-align: center;
    width: 85%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F4A261;
    margin-top: 40px;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 15%;
    background-color: white;
    height: 25px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-field{
    all: unset;
    width: 90%;
}
.button{
    all:unset;
    border-radius: 20px;
    width: 70%;
    height: 25px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #F4A261;
    font-weight: 400;
}
.button:hover{
    background-color: #BF5D0D;
    color: white;
    cursor: pointer;
}
.header-title{
    margin: 15px 0;
}
.footer-first{
    margin-bottom: 15px;
}
.sign-link{
    color: white;
    font-weight: 500;
    text-decoration: none;
}
/* singn description */
.sign-description{
    text-align: center;
    font-weight: 500;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    align-self: center;
}
.line-sign{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    height: 1px;
    border: none;
    background-color: #F4A261;
}
.frequently-questions{
    width: 80%;
}
.frequently-questions h3{
    text-align: center;
    margin: 20px 0;
}

.question{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0;
}
.answer{
    margin-bottom: 15px;
    text-align: justify;
}
#newTask{
    display: none;
}

/* Button new task container */
.button-newTask{
  margin: 30px 0 15px 0;
  border-radius: 20px;
  height: 30px;
  width: 140px;
  background-color: #F4A261;
  color: white;
  border: none;
  cursor: pointer;
}
.div-button-newTask{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Add a new task */

.addNewTask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addNewTask-title{
  color: #F4A261;
}
.newTask-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newTask{
  margin: 15px;
  background-color: white;
  height: 25px;
  width: 130%;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
}
.addNewTask-input{
  all: unset;
  width: 90%;
}
.button-addNewTask-container{
  width: 130%;
  display: flex;
}
.button-addNewTask{
  all:unset;
  border-radius: 20px;
  height: 25px;
  width: 100%;
  margin: 15px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #F4A261;
  font-weight: 500;
  text-align: center;
}
.button-addNewTask:hover{
  background-color: #BF5D0D;
  color: white;
  cursor: pointer;
}

/* TASKS */
.tasksTitle{
  text-align: center;
  color: #F4A261;
  margin-top: 30px;
  margin-bottom: 15px;
}
.container{
  display: grid;
  grid-template-columns: 0.1fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px #F4A261 solid;
  border-radius: 20px;
  margin: 0 15px 25px 15px;
  padding: 10px;
}
.divCheckbox{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
}
.task-text{
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.task-buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: 1 / 5 / 2 / 6;
  margin-right: 10px;
}
/* Delate task */
.iconTaskImg{
  width: 20px;
}
.iconTask{
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
.background-delate{
  background-color:rgba(212, 61, 61, 0.3);
}
.background-delate:hover{
  background-color: rgba(212, 61, 61);
}
.background-edit{
  background-color: rgb(75, 184, 184, 0.3);
}
.background-edit:hover{
  background-color: rgb(75, 184, 184);
}
.editText{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  height: 25px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: flex-start;
 
}
.editText-input{
  border: none;
  all: unset;
}
.saveChange{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonUpdate{
  all: unset;
  width: 178%;
  border-radius: 20px;
  height: 25px;
  margin-top: 10px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  color: #F4A261;
  font-weight: 500;
  text-align: center;
}
.buttonUpdate:hover{
  background-color: #BF5D0D;
  color: white;
}
/* MEDIA QUERY */
/* media 992px */
@media screen and (min-width: 992px){

   #signIn{
    display: block;
   }
   #button-signIn{
    display: none;
   }
  .sing{
    width: 70%;
    justify-content: center;
  }
  .form-input{
    height: 40px;
  }
  .button{
    height: 40px;
  }
  .header-subtitle{
    font-size: 1.3rem;
  }
  .footer-first{
    font-size: 1.3rem;
  }
  .sign-description{
    font-size: 1.3rem;
  }
  .frequently-questions h3{
    font-size: 2.1rem;
    text-align: left;
  }
  .questions{
    width: 70%;
  }
  .question{
    font-size: 1.8rem;
  }
  .answer{
    font-size: 1.3rem;
  }
  .first-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .line-sign{
    display: none;
  }
  .part1-sign{
    grid-area: 1 / 1 / 2 / 3;
  }
  .part2-sign{
    grid-area: 2 / 2 / 3 / 3;
  }
  .part3-sign{
    grid-area: 2 / 1 / 3 / 2;
  }
  .part4-sign{
    grid-area: 3 / 1 / 4 / 3;

  }

}